In [7]:
import pandas as pd 


breadbasket = pd.read_csv("~/Downloads/BreadBasket_DMS.csv")
print(breadbasket.shape)
breadbasket.head()

(21293, 4)

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [13]:
breadbasket['DateTime'] = pd.to_datetime(breadbasket.Date + ' ' + breadbasket.Time)
len(breadbasket.Item.unique())

Coffee                           5471
Bread                            3325
Tea                              1435
Cake                             1025
Pastry                            856
NONE                              786
Sandwich                          771
Medialuna                         616
Hot chocolate                     590
Cookies                           540
Brownie                           379
Farm House                        374
Muffin                            370
Juice                             369
Alfajores                         369
Soup                              342
Scone                             327
Toast                             318
Scandinavian                      277
Truffles                          193
Coke                              185
Spanish Brunch                    172
Fudge                             159
Baguette                          152
Jam                               149
Tiffin                            146
Mineral water                     136
Jammie Dodgers                    125
Chicken Stew                      123
Hearty & Seasonal                 107
                                 ...
Empanadas                           7
Argentina Night                     7
Honey                               6
Pintxos                             6
Crepes                              6
Basket                              6
Lemon and coconut                   6
Half slice Monster                  6
Bare Popcorn                        5
Panatone                            5
Mortimer                            5
Bread Pudding                       4
Brioche and salami                  3
Raspberry shortbread sandwich       3
Caramel bites                       3
Cherry me Dried fruit               3
Fairy Doors                         2
Bowl Nic Pitt                       2
Chimichurri Oil                     2
Hack the stack                      2
Siblings                            2
Spread                              2
Adjustment                          1
Polenta                             1
Bacon                               1
The BART                            1
Olum & polenta                      1
Gift voucher                        1
Chicken sand                        1
Raw bars                            1
Name: Item, Length: 95, dtype: int64

In [23]:
categories = {
    'beverage':['Hot chocolate', 'Coffee', 'Tea', 'Mineral water', 'Juice', 'Coke', 'Smoothies'],
    'kids':["Ella's Kitchen Pouches", 'My-5 Fruit Shoot', 'Kids biscuit'],
    'snacks':['Mighty Protein', 'Pick and Mix Bowls', 'Caramel bites', 'Bare Popcorn', 'Crisps', 'Cherry me Dried fruit', 'Raw bars'],
    'bread':['Bread', 'Toast', 'Baguette', 'Focaccia', 'Scandinavian'],
    'breakfast_pastry':['Muffin', 'Pastry', 'Medialuna', 'Scone'],
    'dessert':['Cookies', 'Tartine', 'Fudge', 'Victorian Sponge', 'Cake', 'Alfajores', 'Brownie', 'Bread Pudding', 'Bakewell', 'Raspberry shortbread sandwich', 'Lemon and coconut', 'Crepes', 'Chocolates', 'Truffles', 'Panatone'],
    'condiments':['Jam', 'Dulce de Leche', 'Honey', 'Gingerbread syrup', 'Extra Salami or Feta', 'Bacon', 'Spread', 'Chimichurri Oil'],
    'breakfast':['Eggs', 'Frittata', 'Granola', 'Muesli', 'Duck egg', 'Brioche and salami'],
    'lunch':['Soup', 'Sandwich', 'Chicken sand', 'Salad', 'Chicken Stew'],
}

categorized = [c for k in categories.keys() for c in categories[k]]
categories['others'] = [x for x in breadbasket.Item.unique() if x not in categorized]

In [26]:
import numpy as np

for cat in categories.keys():
    breadbasket[cat] = np.where(breadbasket.Item.isin(categories[cat]), 1, 0)

In [33]:
breadbasket.head()
breadbasket = breadbasket.drop(columns=["Date","Time"])

KeyError: "['Date' 'Time'] not found in axis"

In [38]:
bread_group = breadbasket.groupby(['Transaction','DateTime']).sum()
bread_group.reset_index(level=['DateTime'], inplace=True)

bread_group

,DateTime,beverage,kids,snacks,bread,breakfast_pastry,dessert,condiments,breakfast,lunch,others
Transaction,,,,,,,,,,,
1,2016-10-30 09:58:11,0,0,0,1,0,0,0,0,0,0
2,2016-10-30 10:05:34,0,0,0,2,0,0,0,0,0,0
3,2016-10-30 10:07:57,1,0,0,0,0,1,1,0,0,0
4,2016-10-30 10:08:41,0,0,0,0,1,0,0,0,0,0
5,2016-10-30 10:13:03,1,0,0,1,1,0,0,0,0,0
6,2016-10-30 10:16:55,0,0,0,0,3,0,0,0,0,0
7,2016-10-30 10:19:12,2,0,0,0,2,0,0,0,0,0
8,2016-10-30 10:20:51,0,0,0,1,1,0,0,0,0,0
9,2016-10-30 10:21:59,0,0,0,1,1,0,0,0,0,0
10,2016-10-30 10:25:58,0,0,0,1,1,0,0,0,0,0
11,2016-10-30 10:27:21,0,0,0,2,1,0,0,0,0,1
12,2016-10-30 10:30:14,2,0,0,0,1,1,1,0,0,0
13,2016-10-30 10:31:24,1,0,0,1,0,0,0,0,0,1
14,2016-10-30 10:32:46,0,0,0,1,2,0,0,0,0,0
15,2016-10-30 10:34:36,1,0,0,1,0,0,0,0,0,2
16,2016-10-30 10:37:08,1,0,0,1,1,0,0,0,0,0
17,2016-10-30 10:38:04,1,0,0,0,0,0,0,0,0,0
18,2016-10-30 10:41:56,0,0,0,0,0,0,0,0,0,1
19,2016-10-30 10:43:08,0,0,0,1,0,0,0,0,0,1
20,2016-10-30 10:45:22,0,0,0,1,1,0,0,0,0,0
21,2016-10-30 10:49:29,2,0,0,1,1,0,0,0,0,0
22,2016-10-30 10:52:15,0,0,0,0,0,0,1,0,0,0
23,2016-10-30 10:53:49,0,0,0,1,1,0,0,0,0,0
24,2016-10-30 10:54:33,0,0,0,1,0,0,0,0,0,0
25,2016-10-30 10:55:22,0,0,0,1,0,0,0,0,0,0
26,2016-10-30 10:56:08,0,0,0,0,0,1,0,0,0,0
27,2016-10-30 11:02:19,0,0,0,1,0,0,0,0,0,0
28,2016-10-30 11:03:24,1,0,0,1,0,0,0,0,0,0
29,2016-10-30 11:05:30,0,0,0,1,0,0,1,0,0,1
30,2016-10-30 11:07:19,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9651,2017-04-09 10:08:23,1,0,0,0,1,0,0,0,0,0
9652,2017-04-09 10:36:11,0,0,0,1,0,0,0,0,0,0
9653,2017-04-09 10:39:07,1,0,0,0,0,1,0,0,0,0
9654,2017-04-09 10:52:02,1,1,0,0,0,0,0,0,0,1
9655,2017-04-09 11:14:28,1,0,0,0,0,0,0,0,0,0
9656,2017-04-09 11:17:43,1,0,0,1,0,0,0,0,0,0
9657,2017-04-09 11:22:01,1,0,0,0,0,0,0,0,0,0
9658,2017-04-09 11:30:22,1,0,0,0,0,0,1,0,0,1
9659,2017-04-09 11:31:15,2,0,0,0,0,1,0,0,0,0
9660,2017-04-09 11:34:01,0,0,0,1,0,0,0,0,0,0
9664,2017-04-09 11:40:10,2,0,0,1,0,0,0,0,0,0
9665,2017-04-09 11:59:57,2,0,0,0,0,0,0,0,0,1
9666,2017-04-09 12:01:07,1,0,0,0,0,0,0,0,0,1
9667,2017-04-09 12:04:13,0,0,0,1,0,0,0,0,2,1
9668,2017-04-09 12:07:57,1,0,0,1,0,0,0,0,0,0
9669,2017-04-09 12:15:00,0,0,0,0,0,0,0,0,0,1
9670,2017-04-09 12:22:40,0,0,0,0,0,0,0,0,0,1
9671,2017-04-09 12:28:01,0,0,0,1,0,0,0,0,0,0
9672,2017-04-09 12:31:28,1,0,0,0,0,1,1,0,0,1
9673,2017-04-09 12:32:03,1,0,0,1,0,0,0,0,0,1
9674,2017-04-09 13:04:08,1,0,0,0,0,0,0,0,0,0
9676,2017-04-09 13:06:34,1,0,0,0,0,0,0,0,1,0
9677,2017-04-09 13:20:23,1,0,0,0,0,0,0,0,0,1
9678,2017-04-09 13:49:21,1,0,0,1,0,0,0,0,0,1
9679,2017-04-09 14:08:37,0,0,0,1,0,0,0,0,0,1
9680,2017-04-09 14:24:03,0,0,0,1,0,0,0,0,0,0
9681,2017-04-09 14:30:09,1,0,0,0,0,1,0,0,0,2
9682,2017-04-09 14:32:58,2,0,0,0,1,0,0,0,0,1
9683,2017-04-09 14:57:06,1,0,0,0,1,0,0,0,0,0
9684,2017-04-09 15:04:24,1,0,0,0,0,0,0,0,0,0

In [42]:
bread_group['hour'] = bread_group.DateTime.dt.hour
bread_group['day'] = bread_group.DateTime.dt.day_name()
display(bread_group.head())
display(bread_group.day.value_counts())
display(bread_group.hour.value_counts())

,DateTime,beverage,kids,snacks,bread,breakfast_pastry,dessert,condiments,breakfast,lunch,others,hour,day
Transaction,,,,,,,,,,,,,
1,2016-10-30 09:58:11,0,0,0,1,0,0,0,0,0,0,9,Sunday
2,2016-10-30 10:05:34,0,0,0,2,0,0,0,0,0,0,10,Sunday
3,2016-10-30 10:07:57,1,0,0,0,0,1,1,0,0,0,10,Sunday
4,2016-10-30 10:08:41,0,0,0,0,1,0,0,0,0,0,10,Sunday
5,2016-10-30 10:13:03,1,0,0,1,1,0,0,0,0,0,10,Sunday

Saturday     2068
Friday       1488
Sunday       1264
Thursday     1252
Tuesday      1203
Monday       1135
Wednesday    1121
Name: day, dtype: int64

11    1445
12    1347
10    1267
13    1163
14    1130
9     1007
15     924
16     583
8      375
17     160
18      52
19      34
7       16
20      15
22       7
23       3
21       2
1        1
Name: hour, dtype: int64

In [44]:
bread_days = pd.get_dummies(data=bread_group, columns=['day'])
bread_days.drop(columns='DateTime', inplace=True, axis=1)

In [49]:
bread_days.head()
bread_days.shape

(9531, 18)

In [48]:
from sklearn.decomposition import PCA

pca = PCA(n_components=4)

principalComponents = pca.fit_transform(bread_days)
principalDf = pd.DataFrame(data = principalComponents
             ,columns = ['pc1', 'pc2', 'pc3', 'pc4'])
principalDf.head()

        pc1       pc2       pc3       pc4
0  3.197989 -0.931700  0.237573 -0.068287
1  2.228491 -1.280402  1.067450 -0.515340
2  2.108209  0.418718  0.072186  0.908976
3  2.199539 -0.586069 -0.680365  0.230756
4  2.207388  0.030175  0.384724 -0.435591

In [51]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5)
bread_clusters = kmeans.fit(principalDf)
bread_clusters.cluster_centers_

array([[-1.38721530e+00, -1.49178845e-01, -6.54538119e-02,
         2.62259407e-02],
       [ 9.87639343e-01, -5.57609156e-01,  6.37410969e-02,
         2.04605805e-02],
       [-3.60446951e+00, -2.11630793e-02,  4.88304333e-02,
        -2.46746165e-03],
       [ 2.93826822e+00,  7.95924769e-02, -5.21318921e-02,
         1.37913085e-02],
       [ 2.44036509e-01,  1.03777785e+00,  2.96887692e-02,
        -9.81300377e-02]])

In [53]:
bread_days['labels'] = bread_clusters.fit_predict(principalDf)
bread_days.reset_index('Transaction', inplace=True)
bread_merged = pd.merge(breadbasket, bread_days[['Transaction', 'labels']], on='Transaction', how='outer')
bread_merged.head()

KeyError: 'Level Transaction must be same as name (None)'

In [55]:
bread_merged.labels.value_counts()

3    5172
2    5144
1    4041
4    3755
0    3181
Name: labels, dtype: int64

In [56]:
pd.crosstab(bread_days.hour,bread_days.labels)

labels     0     1    2     3    4
hour
1          0     1    0     0    0
7          0    16    0     0    0
8          0   375    0     0    0
9          0   982   25     0    0
10         0  1004  263     0    0
11         0     0  334  1111    0
12         0     0  267  1080    0
13      1130     0   33     0    0
14      1128     0    2     0    0
15         0     0    0     0  924
16         0     0    0     0  583
17         0     0    0     0  160
18         0     0    0     0   52
19         0     0    0     0   34
20         0     0    0     0   15
21         0     0    0     0    2
22         0     0    0     0    7
23         0     0    0     0    3

In [58]:
pd.crosstab(bread_group.day,bread_days.labels)

labels       0    1    2    3    4
day
Friday     355  326  160  358  269
Monday     250  315   95  243  232
Saturday   506  393  224  441  411
Sunday     304  295  127  297  209
Thursday   264  387  120  287  194
Tuesday    271  300  116  293  223
Wednesday  283  329   71  225  213

In [59]:
a = bread_merged.groupby(['labels']).Item.value_counts()
b = a.to_frame("counts").reset_index()
b.set_index("Item", inplace=True)
b.groupby('labels').counts.nlargest(5)

labels  Item
0       Bread             975
        Coffee            382
        NONE              153
        Sandwich          140
        Cake              122
1       Coffee            927
        Bread             560
        Tea               382
        Cake              328
        Hot chocolate     183
2       Coffee           2074
        Tea               410
        Bread             280
        Pastry            250
        NONE              204
3       Coffee           1243
        Bread             486
        Tea               413
        Sandwich          392
        Cake              299
4       Bread            1024
        Coffee            845
        Pastry            337
        Medialuna         223
        Tea               136
Name: counts, dtype: int64